<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Tasa de paro por sexo y grupo de edad</title>
<style>
	#grafico { width: 100%; max-width: 100%; height: 100%; max-height: 400px; background: #ccc;}
</style>
</head>
<body>
<h1>TASA DE PARO POR SEXO Y GRUPO DE EDAD:</h1>

<br></br>

{% for row in tabla %}

	{% if loop.index == 1 %}<strong>
		{% for cell in row  %}
			{{ cell }}
		{% endfor %}</strong>
	{% else %}
		{% for cell in row  %}
			{{ cell }}
		{% endfor %}
	{% endif %}
	
<br></br>
	
{% endfor %}

<div id="grafico"></div>

<script>
	var datos = {% autoescape false %}{{ tabla }}{% endautoescape %};
</script>
</body>
</html>